<div id="frontPageIntroduction">
<p>Welcome to the Numb3r L0ck3r website.</p>
<p>Make a list of classes here if the person is logged in.</p>
<p>List what you can do. Enter data for classes. Recall data for classes. Get aggregate data for classes. Get additional statistics and lab help.</p>
</div>
