<!-- start template/header.tmpl -->
<div id="header">
<center>Numb3r L0ck3r</center>
<div id="header_links">
<p><a href="${documentDir}User/loginAttempt.cgi">Log in</a>. <a href="${documentDir}User/newUser.cgi">Create account</a>.</p>
</div>
</div>
<!-- end template/header.tmpl -->
