<!-- start template/sidebar.tmpl -->
<div id="sidebar">
<ul>
<li>Account</li>
<li>Laboratories</li>
<li><a href="${documentDir}Admin/admin.cgi">Administrative</a> *TODO* Check for admin priviliges!</li>
<li>Numberical Measures</li>
<li>Graphical Measures</li>
<li>Laboratory Descriptions</li>
<li>Help</li>
</ul>
</div>
<!-- end template/sidebar.tmpl -->
