<!-- start template/sidebar.tmpl -->
<div id="sidebar">
<p>Account</p>
<p>Laboratories</p>
<p>Administrative</p>
<p>Numberical Measures</p>
<p>Graphical Measures</p>
<p>Laboratory Descriptions</p>
<p>Help</p>
</div>
<!-- end template/sidebar.tmpl -->
