/* *********************************************

   Base CSS file

   Copyright (c) 2012, Kelly Black (kjblack@gmail.com)
   All rights reserved.

   Redistribution and use in source and binary forms, with or without
   modification, are permitted provided that the following conditions
   are met:


   * Redistributions of source code must retain the above copyright
     notice, this list of conditions and the following
     disclaimer.

   * Redistributions in binary form must reproduce the above
     copyright notice, this list of conditions and the following
     disclaimer in the documentation and/or other materials provided with
     the distribution.

   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
   "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
   LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
   FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
   COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
   INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
   (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
   SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
   HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
   STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
   ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
   OF THE POSSIBILITY OF SUCH DAMAGE.


************************************************ */


body
{
  background: #5F2580;
}

#wholePageWrapper
{
    background: #5F2580;
    margin: 0px;
    padding: 0px;
    height:100%;
}


/*
     Details about the header div go here. 
*/
#header {
    margin-left: 2.5%;
    background-color: #DFDFDF;
    color: #000;
    width: 95%;
    padding-bottom: 10px;
}
/* 
   Details about how to display the login form in the header.
*/
#header_login
{
    display: inline;
    font-size: 80%;
}
.small_input
{
    display: inline;
    font-size: 80%;
}
#header a
{
    color: #000;
}
#header a.visited
{
    color: #000;
}

/*
     Details about the wrapper div go here. 
*/
#page_center {
    margin: 10px;
    padding: 10px;
    width: 67em;
    /* background-color: #FFFFFF;*/
    background-color: #5F2580;
    min-height: 10em;
}

/*
     Details about the side bar div go here. 
*/
#sidebar {
    width:14em;
    float:left;
    background-color: #250672;
    color: #FFFF73;
    padding: 10px;
}

#sidebar a
{
    color: #FFFF73;
}
#sidebar a.visited
{
    color: #FFFF73;
}

/*
     Details about the main content div go here. 
*/
#content {
    width:47em;
    float:left;
    padding: 20px;
    background-color: #FFFF73;
    color: #000;
}

/*
     Details about the footer div go here. 
*/
#footer {
    clear: both;
    background-color: #250672;
    width: 50em;
    margin: 40px;
    padding: 1em;
    color: #FFFF73;
}
#footer a
{
    color: #FFFF73;
}
#footer a.visited
{
    color: #FFFF73;
}
#footer p
{
    font-size: 75%;
    line-height: 0.5em;
}
