<!-- start template loginbox -->
<div id="loginbox">
<p>
<form id="usernameForm" action="http://" name="usernameForm" method="post" enctype="application/x-www-form-urlencoded" target="_self">
<div id="loginErrorMessage"></div>
Username: <input type="text" name="username" /><br />
Password: <input type="password" name="password" /><br />
Keep login persitant: <input type="checkbox" name="persistant" value="yes" /><br />
</form>
</p>
</div>
<!-- end template loginbox -->
